<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Sean David and Robert make the best Apps, because we had the best Software Engineering Teacher so you should hire us and give us lots of money $$$$ =D
</p>
