<% provide(:title, 'About Us') %>
<h1>About Us</h1>


body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzD3QKpjVqHusnwySCS0KSoGtwpHiR7VqzFAEMWD_YG9HTdTy6);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 200px 150px;
    margin-right: 300px;
}
/* unvisited link */
a:link {
    color: #003366;
}

/* visited link */
a:visited {
    color: #003366;
}

/* mouse over link */
a:hover {
    color: #66B2FF;
}


div.ex {
    width: 500px;
    padding: 50px;

    //border: 10px solid gray;
    margin-left: 50px;
}
div.ex2 {
    width: 750px;
    padding: 10px;

    //border: 10px solid gray;
    margin-left: 90px;
}
div.ex3 {
    width: 200px;
    padding: 5px;

    //border: 10px solid gray;
    margin-top: 10px;
    margin-left: 400px;
}
</style>
</head>
<body>
<div class="ex">
<h3>
Empire Solution's misison improve communication between connect business owners with their customers
</h3>
</div>

<div class="ex2">
<p>
We provide reliable and easy to use tools to manage appointments. As a group of only 3 developers we constantly search opportunities to improve the user experience and provide the best solutions available on the market.
</p>
</div>
<div class="ex3">
<p><b><a href="http://162.243.26.168:3000/contact"target="_blank" >
Management</a></b></p>
</div>
</body>

