<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h2>DSR Solutions Presents</h2>

  <h1>
    Book'T Appointment </h1><h3>Management Platform
  </h3>

 <%= link_to "Sign in", '/signin', class: "btn btn-large btn-primary" %>
 <%= link_to "Sign up now", '/signup', class: "btn btn-large btn-primary" %>

</div>
